:root {
    --dark-color: rgb(27, 28, 28);
    --light-color: rgb(213, 213, 213);
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    background-position: 0px 25px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='560' height='1440' preserveAspectRatio='none' viewBox='0 0 560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2334%26quot%3b)' fill='none'%3e%3crect width='560' height='1440' x='0' y='0' fill='url(%23SvgjsLinearGradient2335)'%3e%3c/rect%3e%3cpath d='M134.96 66.64L199.92 104.14L199.92 179.14L134.96 216.64L70.01 179.14L70.01 104.14zM134.96 291.64L199.92 329.14L199.92 404.14L134.96 441.64L70.01 404.14L70.01 329.14zM134.96 741.64L199.92 779.14L199.92 854.14L134.96 891.64L70.01 854.14L70.01 779.14zM134.96 966.64L199.92 1004.14L199.92 1079.14L134.96 1116.64L70.01 1079.14L70.01 1004.14zM134.96 1416.64L199.92 1454.14L199.92 1529.14L134.96 1566.64L70.01 1529.14L70.01 1454.14zM264.87 741.64L329.82 779.14L329.82 854.14L264.87 891.64L199.92 854.14L199.92 779.14zM199.92 1079.14L264.87 1116.64L264.87 1191.64L199.92 1229.14L134.96 1191.64L134.96 1116.64zM329.82 404.14L394.78 441.64L394.78 516.64L329.82 554.14L264.87 516.64L264.87 441.64zM394.78 516.64L459.73 554.14L459.73 629.14L394.78 666.64L329.82 629.14L329.82 554.14zM329.82 854.14L394.78 891.64L394.78 966.64L329.82 1004.14L264.87 966.64L264.87 891.64zM394.78 966.64L459.73 1004.14L459.73 1079.14L394.78 1116.64L329.82 1079.14L329.82 1004.14zM329.82 1079.14L394.78 1116.64L394.78 1191.64L329.82 1229.14L264.87 1191.64L264.87 1116.64zM329.82 1304.14L394.78 1341.64L394.78 1416.64L329.82 1454.14L264.87 1416.64L264.87 1341.64zM394.78 1416.64L459.73 1454.14L459.73 1529.14L394.78 1566.64L329.82 1529.14L329.82 1454.14zM459.73 -45.86L524.69 -8.36L524.69 66.64L459.73 104.14L394.78 66.64L394.78 -8.36zM524.69 66.64L589.64 104.14L589.64 179.14L524.69 216.64L459.73 179.14L459.73 104.14zM524.69 291.64L589.64 329.14L589.64 404.14L524.69 441.64L459.73 404.14L459.73 329.14zM524.69 516.64L589.64 554.14L589.64 629.14L524.69 666.64L459.73 629.14L459.73 554.14zM459.73 629.14L524.69 666.64L524.69 741.64L459.73 779.14L394.78 741.64L394.78 666.64zM459.73 854.14L524.69 891.64L524.69 966.64L459.73 1004.14L394.78 966.64L394.78 891.64zM524.69 966.64L589.64 1004.14L589.64 1079.14L524.69 1116.64L459.73 1079.14L459.73 1004.14zM524.69 1416.64L589.64 1454.14L589.64 1529.14L524.69 1566.64L459.73 1529.14L459.73 1454.14zM589.64 -45.86L654.59 -8.36L654.59 66.64L589.64 104.14L524.69 66.64L524.69 -8.36zM654.59 966.64L719.55 1004.14L719.55 1079.14L654.59 1116.64L589.64 1079.14L589.64 1004.14zM654.59 1416.64L719.55 1454.14L719.55 1529.14L654.59 1566.64L589.64 1529.14L589.64 1454.14z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M127.46 66.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 104.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 179.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 216.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 179.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 104.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 291.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 329.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 404.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 441.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 404.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 329.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 741.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 779.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 854.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 891.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 854.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 779.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 966.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 1116.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 1416.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 1566.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM62.51 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 741.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 779.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 854.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 891.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 1116.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 1191.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM192.42 1229.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM127.46 1191.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 404.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 441.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 516.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 554.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 516.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 441.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 554.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 629.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 666.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 629.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 891.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 966.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 966.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 1116.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 1191.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1229.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1304.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 1341.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 1416.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 1416.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM257.37 1341.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 1566.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM322.32 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 -45.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 -8.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 66.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 104.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 66.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 -8.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 104.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 179.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 216.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 179.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 291.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 329.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 404.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 441.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 404.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 329.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 516.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 554.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 629.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 666.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 741.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 779.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM387.28 741.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM452.23 854.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 891.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 966.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 1116.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 1416.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM517.19 1566.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM582.14 -45.86 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 -8.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 66.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 966.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.05 1004.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.05 1079.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 1116.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 1416.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.05 1454.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM712.05 1529.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM647.09 1566.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M3.44 -39.38L46.74 -14.38L46.74 35.62L3.44 60.62L-39.86 35.62L-39.86 -14.38zM46.74 185.62L90.05 210.62L90.05 260.62L46.74 285.62L3.44 260.62L3.44 210.62zM3.44 1310.62L46.74 1335.62L46.74 1385.62L3.44 1410.62L-39.86 1385.62L-39.86 1335.62zM46.74 1385.62L90.05 1410.62L90.05 1460.62L46.74 1485.62L3.44 1460.62L3.44 1410.62zM133.35 35.62L176.65 60.62L176.65 110.62L133.35 135.62L90.05 110.62L90.05 60.62zM90.05 110.62L133.35 135.62L133.35 185.62L90.05 210.62L46.74 185.62L46.74 135.62zM133.35 185.62L176.65 210.62L176.65 260.62L133.35 285.62L90.05 260.62L90.05 210.62zM90.05 260.62L133.35 285.62L133.35 335.62L90.05 360.62L46.74 335.62L46.74 285.62zM133.35 485.62L176.65 510.62L176.65 560.62L133.35 585.62L90.05 560.62L90.05 510.62zM90.05 560.62L133.35 585.62L133.35 635.62L90.05 660.62L46.74 635.62L46.74 585.62zM90.05 860.62L133.35 885.62L133.35 935.62L90.05 960.62L46.74 935.62L46.74 885.62zM219.95 185.62L263.25 210.62L263.25 260.62L219.95 285.62L176.65 260.62L176.65 210.62zM176.65 260.62L219.95 285.62L219.95 335.62L176.65 360.62L133.35 335.62L133.35 285.62zM219.95 335.62L263.25 360.62L263.25 410.62L219.95 435.62L176.65 410.62L176.65 360.62zM219.95 1385.62L263.25 1410.62L263.25 1460.62L219.95 1485.62L176.65 1460.62L176.65 1410.62zM263.25 860.62L306.56 885.62L306.56 935.62L263.25 960.62L219.95 935.62L219.95 885.62zM306.56 935.62L349.86 960.62L349.86 1010.62L306.56 1035.62L263.25 1010.62L263.25 960.62zM263.25 1010.62L306.56 1035.62L306.56 1085.62L263.25 1110.62L219.95 1085.62L219.95 1035.62zM306.56 1235.62L349.86 1260.62L349.86 1310.62L306.56 1335.62L263.25 1310.62L263.25 1260.62zM306.56 1385.62L349.86 1410.62L349.86 1460.62L306.56 1485.62L263.25 1460.62L263.25 1410.62zM349.86 1010.62L393.16 1035.62L393.16 1085.62L349.86 1110.62L306.56 1085.62L306.56 1035.62zM436.47 -39.38L479.77 -14.38L479.77 35.62L436.47 60.62L393.16 35.62L393.16 -14.38zM436.47 1010.62L479.77 1035.62L479.77 1085.62L436.47 1110.62L393.16 1085.62L393.16 1035.62zM479.77 1085.62L523.07 1110.62L523.07 1160.62L479.77 1185.62L436.47 1160.62L436.47 1110.62zM479.77 1235.62L523.07 1260.62L523.07 1310.62L479.77 1335.62L436.47 1310.62L436.47 1260.62zM523.07 -39.38L566.37 -14.38L566.37 35.62L523.07 60.62L479.77 35.62L479.77 -14.38zM566.37 35.62L609.68 60.62L609.68 110.62L566.37 135.62L523.07 110.62L523.07 60.62zM523.07 410.62L566.37 435.62L566.37 485.62L523.07 510.62L479.77 485.62L479.77 435.62zM523.07 560.62L566.37 585.62L566.37 635.62L523.07 660.62L479.77 635.62L479.77 585.62zM566.37 785.62L609.68 810.62L609.68 860.62L566.37 885.62L523.07 860.62L523.07 810.62zM523.07 1160.62L566.37 1185.62L566.37 1235.62L523.07 1260.62L479.77 1235.62L479.77 1185.62z' stroke='url(%23SvgjsLinearGradient2336)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2334'%3e%3crect width='560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-39.29%25' y1='15.28%25' x2='139.29%25' y2='84.72%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2335'%3e%3cstop stop-color='rgba(8%2c 8%2c 8%2c 1)' offset='0.02'%3e%3c/stop%3e%3cstop stop-color='rgba(103%2c 103%2c 103%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='560' y1='720' x2='0' y2='720' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2336'%3e%3cstop stop-color='rgba(55%2c 59%2c 64%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(59%2c 59%2c 59%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    min-height: 100svh;
    background-image: url("../noise.png");
    background-repeat: repeat;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-image: url("../noise.png");
    background-repeat: repeat;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(15px);
    padding: 0 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header svg {
    height: 40px;
    fill: var(--light-color);
}

.shelf {
    display: grid;
    grid-template-rows: auto 50px;
}

.shelf > * {
    background-image: url("../noise.png");
    background-repeat: repeat;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    gap: 2rem;
    padding: 4rem 2rem 4rem;
}

.book-container > div {
    border-radius: 10px;
    background-color: var(--dark-color);
    aspect-ratio: 10 / 16;
    background-image: url("../noise.png");
    background-repeat: repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(15px);
    padding: 2rem;
}

.book-container .book-menu {
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-rows: auto 1fr;
    column-gap: 6px;
}

.book-container .book-menu ul {
    grid-column: 1 / span 2;
}


.book-container .book-menu svg {
    fill: var(--light-color);
    height: 24px;
    align-self: center;
}

.book-container .add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.book-container .add-book svg {
    fill: var(--light-color);
    width: 80%;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-container p, .credit-container a {  
    color: var(--light-color);
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    background-color: var(--light-color);
    background-image: url("../noise.png");
    background-repeat: repeat;
    color: var(--dark-color);
    padding: 2rem;
    border-radius: 10px;
    min-width: min(300px, calc(80vw - 4rem));
    max-width: calc(100vw - 6rem);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}